<ul>
  <li><strong>Numero do Prontuario: <%= anamnesis.medical_register_id %></strong></li>
  <li>Horario manha: <%=anamnesis.morning_meal_time.to_s(:time) %></li>
  <li>Horario Tarde: <%=anamnesis.noon_meal_time.to_s(:time) %></li>
  <li>Horario Noite: <%=anamnesis.evening_meal_time.to_s(:time) %></li>
  <li><%=link_to "Editar", edit_patient_anamnese_path(anamnesis.id,@patient.id) %></li>
</ul>
