<ul>
  <li><strong>Nome: <%=link_to nutritionist.name, nutritionist %></strong>
  <li>Email: <%=nutritionist.email %></li>
  <li>Órgão Emissor: <%=nutritionist.issuing_institution %></li>
  <li>CRN: <%=nutritionist.crn_number %></li>
  <li>Expiração: <%=nutritionist.crn_expiration %></li>
  <li>Licença: <%=nutritionist.license_type %></li>
</ul>