<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=nutritionist.name%></h3>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="col-md-12">
        <ul>
          <strong>Email: </strong> <%=nutritionist.email %><br>
          <strong>Órgão Emissor: </strong><%=nutritionist.issuing_institution %><br>
          <strong>CRN:</strong> <%=nutritionist.crn_number %><br>
          <strong>Expiração: </strong><%=nutritionist.crn_expiration %><br>
          <strong>Licença: </strong><%=nutritionist.license_type %><br>
        </ul>
        <%= link_to "Editar Dados", edit_nutritionist_profile_path(nutritionist.id)%>
      </div>
    </div>
  </div>
</div>
