<%= form_for @nutriProfile do |p| %>
  <div>
    <%= p.text_field :name %>
  </div>
  <div>
    <%= p.text_field :email %>
  </div>
  <div>
    <%= p.select :issuing_institution, options_for_select([["CRN-1", "CRN-1"],["CRN-2", "CRN-2"],["CRN-3", "CRN-3"],["CRN-4", "CRN-4"],["CRN-5", "CRN-5"],["CRN-6", "CRN-6"],["CRN-7", "CRN-7"],["CRN-8", "CRN-8"],["CRN-9", "CRN-9"],["CRN-10", "CRN-10"]]) %>
  </div>
  <div>
    <%= p.text_field :crn_number %>
  </div>
  <div>
    <%= p.text_field :crn_expiration %>
  </div>
  <div>
    <%= p.text_field :license_type, options_for_select([["Definitiva", "Definitiva"],["Provisória", "Provisória"]]) %>
  </div>
  <div>
    <%= p.submit %>
  </div>
<% end %>