<%= form_for @patient do |p| %>
  <div class="form-group">
    <%= p.label :id_do_paciente %>
    <%= p.text_field :patient_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :nome %>
    <%= p.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :email %>
    <%= p.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :sexo %>
    <%= p.select :gender, options_for_select([["Masculino", "masculino"], ["Feminino", "feminino"]]),{} , {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= p.label :idade %>
    <%= p.text_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :altura_em_metros, class: "form-control" %>
    <%= p.text_field :height, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :peso_em_kg %>
    <%= p.text_field :weight, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.submit %>
  </div>
<% end %>
