<%= form_for @patient do |p| %>
  <div>
    <%= p.label :id_do_paciente %>
    <%= p.text_field :patient_id %>
  </div>
  <div>
    <%= p.label :nome %>
    <%= p.text_field :name %>
  </div>
  <div>
    <%= p.label :email %>
    <%= p.text_field :email %>
  </div>
  <div>
    <%= p.label :sexo %>
    <%= p.select :gender, options_for_select([["Masculino", "masculino"], ["Feminino", "feminino"]]) %>
  </div>
  <div>
    <%= p.label :idade %>
    <%= p.text_field :age %>
  </div>
  <div>
    <%= p.label :altura_em_metros %>
    <%= p.text_field :height %>
  </div>
  <div>
    <%= p.label :peso_em_kg %>
    <%= p.text_field :weight %>
  </div>
  <div>
    <%= p.submit %>
  </div>
<% end %>