<%= form_for @patient do |p| %>
  <% if @patient.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Não foi possível gravar o paciente</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @patient.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= p.label :id_do_paciente, "Código do Paciente" %>
    <%= p.text_field :patient_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :nome %>
    <%= p.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :email %>
    <%= p.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :sexo %>
    <%= p.select :gender, options_for_select([["Masculino", "masculino"], ["Feminino", "feminino"]]),{} , {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= p.label :idade %>
    <%= p.text_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :altura_em_metros%>
    <%= p.text_field :height, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :peso_em_kg %>
    <%= p.text_field :weight, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.submit "Cadastrar Paciente", class: "btn btn-default" %>
  </div>
<% end %>
