<h1><strong>Tabela de Reeducação Alimentar</strong></h1>
<h3>Dados do Paciente</h3>
<p><strong>Data: </strong><%= @data %></p>
<p><strong>Paciente: </strong><%= @patient.name %></p>
<p><strong>Sexo: </strong><%= @patient.gender %></p>
<p><strong>Idade: </strong><%= @patient.age %> anos</p>
<hr>
<p><strong>Gasto Energético Total (GET): </strong><%= @tee %> Kcal</p>

<h3>Consumo Ideal Diário</h3>
<p><strong>Proteínas (PTN): </strong><%= @ptn %> Kcal</p>
<p><strong>Carboidratos (CHO): </strong><%= @cho %> Kcal</p>
<p><strong>Lipídeos (LIP): </strong><%= @lip %> Kcal</p>
<hr>
<h3>Tabela Equivalente</h3>
<li>Vegetais A <%= @vegetais_a %></li>
<li>Vegetais B <%= @vegetais_b %></li>
<li>Frutas <%= @frutas %></li>
<li>Arroz <%= @arroz %></li>
<li>Carnes <%= @carnes %></li>
<li>Leites e Derivados <%= @leites_e_derivados %></li>
<li>Desnatado e Soja <%= @desnatado_e_soja %></li>
<li>Gorduras <%= @gorduras %></li>
<li>Embutidos <%= @embutidos %></li>
<li>Feijoes <%= @feijoes %></li>
<li>Paes <%= @paes %></li>
<li>Fibras <%= @fibras %></li>
<li>Açucar <%= @acucar %></li>