<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>NutriSigma - Sistema de Gerenciamento Nutricional</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <br>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path  %>">NutriSigma</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if nutritionist_signed_in? %>
                <li><%= link_to "Meus Pacientes", patients_path %></li>
                <li><%= link_to "Sair", destroy_nutritionist_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Entrar", new_nutritionist_session_path %></li>
                <li><%= link_to "Cadastrar", new_nutritionist_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
